.DS_Store
.idea/*
build/*
scripts/filter/build*
lib/*
bin/*
CMakeFiles/*
src/CMakeFiles/*
test/CMakeFiles/*
3rdParty/CMakeFiles/*
3rdParty/*/CMakeFiles/*
*.json
*.marks
*.cmake
*.jpg
*.a
*.obj
!cmake/*.cmake
MakeFile
.vscode/*
Debug/*
Release/*
