#============= The Paths and IO Configuration =============

image_path: __CT_DATA_DIR/images
workspace_path: __CT_DATA_DIR/sfm-workspace
image_type: perspective

write_feature: 1
write_match: 1

gps_prior_file: __CT_DATA_DIR/gps_locations.txt

lidar_sfm: 1
lidar_path: __CT_DATA_DIR/rosbag/output/points
#lidar_prior_pose_file: /data/dataset/wuqiong-data/2023-12-21_10-03-07/file_list_lidarpose.txt
lidar_to_cam_matrix: -0.00836021, -0.999963, 0.00191335, 0.00499563, -0.0162273, -0.00177749, -0.999867, -0.0318235, 0.999833, -0.00839014, -0.0162118, -0.0518308

#============= Debug Mode =============
debug_info: 0

#============= Acceleration Mode Using Track Selection =============
max_cover_per_view: 500 # UAV images: 400


#============= Use AprilTag or Not =============
detect_apriltag: 0
apriltag_size: 0.113

#============= Image Reader Setting =============
read_image_info_first: 0  #danfan 0 UAV images: 0
bitmap_read_num_threads: 8

#============= Camera Model Setting =============
single_camera: 0
single_camera_per_folder: 1
fixed_camera: 0
camera_model: PARTIAL_OPENCV

num_local_cameras: 3 #if insv ,set 2  #if pro2, set 6, if mp4,set 1
#rig_params_file: /data/camera-config/camera-config/wuqiong/metacam_sfmrig_default.yaml
rig_params_file: __CT_COMMON_DIR/camera-rig-yamls/metacam_sfmrig_default.yaml # panorama: do not set, insv: onex-rig.yaml, pro2: pro2-rig.yaml
panorama_config_file: /opt/SenseMapCloudTools/utils/../ctconfigs/common/panorama_mobile.yaml

#============= Feature extraction =============

#============= UAV images =============
#max_image_size: 2000
#============= UAV images =============

feature_extraction_gpu_index: 0,1,2,3,4,5,6,7
max_num_features_customized: 30000 #UAV images: 20000
min_num_features_customized: 10000  #UAV images: 1024
convert_to_perspective_image: 1
perspective_image_count: 6
perspective_image_width: 600
perspective_image_height: 600
fov_w: 60

pca_traning_feature_count: 4000000
pca_matrix_path: __CT_DATA_DIR/pca_matrix.bin
compressed_feature_dimension: 128

#============= Feature Matching =============
matching_method: vocabtree
retrieve_type: 0

# vacabulary tree
vocab_matching_num_images: 50
vocab_path: __CT_CODE_DIR/tools/vocab_tree_flickr100K_words1M.bin
vocab_tree_max_num_features: 2500

#vlad
vlad_training_feature_count: 4000000
vlad_num_vocabulary: 256
vlad_code_book_path: __CT_CODE_DIR/tools/vlad_words256.bin

# sequential matching
overlap: 10

# loop detection
loop_detection_num_images: 20
robust_loop_detection: 0  # UAV images: 0
loop_detection_before_sequential_matching: 0
max_recent_score_factor: 0.2
best_acc_score_factor: 0.05
loop_consistency_threshold: 2
loop_detection_max_num_features: 3000

# matching_use_gpu: 1
matching_gpu_index: 0,1,2,3,4,5,6,7

guided_matching: 0
max_num_matches: 30000

# divide strong and normal loop in the mapping for addressing repetitive scenes
divide_strong_and_normal_loop: 0 # 1 for repetitive scenes or usr_prior_bluetooth = 1

# use blue tooth signals to disambiguate  matches from repetitive scenes
use_prior_bluetooth: 0  # 1 for repetitive scenes
prior_bluetooth_path: ''

#============= Mapper options =============
mapper_method: incremental

# Offline slam mode
offline_slam: 0

# Keyframe mode
extract_keyframe: 1
register_nonkeyframe: 0
min_visible_map_point_kf: 1000 # UAV images: 400
min_pose_inlier_kf: 500 # UAV images: 180

extract_colors: 1
#============= Optimization Params =============
ba_refine_focal_length: 1  #if insv,pro2, set 1, mp4 set 0 ,      danfan normal-images 1     UAV-images: set 1
ba_refine_extra_params: 1 #if insv,pro2, set 0, mp4 set 1         danfan normal-images 1     UAV-images: set 1
ba_refine_principal_point: 1 #if insv,pro2, set 1, mp4 set 0      danfan normal-images 1     UAV-images: set 1
ba_refine_local_extrinsics: 0 #if insv,pro2, set 1, mp4 set 0                                UAV-images: set 0


use_gps_prior: 1
use_prior_align_only: 0
prior_absolute_location_weight: 0.01
max_error_gps: 3.0
min_image_num_for_gps_error: 10

abs_pose_min_inlier_ratio: 0.1
abs_pose_min_num_inliers: 30

# BA frequency
ba_global_max_num_iterations: 40
ba_global_max_refinements: 2

# BA loss function 
ba_global_loss_function: huber

# Maximum number of images with which camera optimization is performed
num_images_for_self_calibration: 1000000 #insv 2000
num_fix_camera_first: 10  #insv 100 others 10


# Explicit loop closure
explicit_loop_closure: 0  # UAV images: 0  danfan: 0
min_inconsistent_corr_ratio_for_loop: 0.96

#============= Map Update =============
map_update: 0
delete_redundant_old_images: 0


sub_matching: 0 # =1 pro2 scale restoration

#mixed_data_mode
num_cameras: 0
camera_param_file: /path/to/camera-list.yaml
register_sequential: 1

# AR Car
novatel_pose_file: __CT_DATA_DIR/novatel-enu.txt
gnss2cam_extr_opt: 0 #(0: 观光车重建, 1: 观光车标定)
gnss2cam_extr: ''

#beacon update
map_update_pose_file: ''

#============= others =============
track_preoperation: 1
max_num_neighbors: 30
max_distance: 50.0
init_min_tri_angle: 8
filter_min_tri_angle_final: 2.0
pca_training_feature_count: 4000000